*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.topnav{
    overflow: hidden;
    background-color: #333;
    position: relative;
    display: none;
}
#myLinks{
    display: none;
}
.topnav a{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    display: block;
}
.topnav a.icon{
    background: red;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.topnav a:hover{
    background-color: #ddd;
    color: black;
}
/* End of mobile navigation */

nav{
    background: #333;
}
nav ul{
    display: flex;
}
nav ul li{
    padding: 14px 16px;
    list-style: none;
}
nav ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}
nav ul li:hover{
    background: #ddd;
}
nav ul li a:hover{
    color: black;
}
/* End of desktop navigation */

.section{
    padding: 30px;
}
.section h2{
    margin-bottom: 10px;
    color: #606060;
}
.section p{
    color: #808080;
    line-height: 1.4;
    margin-bottom: 20px;
}

.section2{
    display: flex;
}
.col1{
    height: 300px;
    width: 50%;
    background: url('../img/1.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.col2{
    height: 300px;
    width: 50%;
    background: url('../img/home.jpg');
    background-position: center;
    background-size: cover;
}

#services{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
}
#services .card{
    width: 31%;
    height: 350px;
}
#services .fa-cog, .fa-globe, .fa-users{
    font-size: 45px;
    color: gray;
    margin-bottom: 20px;
}
#services p{
    color: gray;
    line-height: 1.4;
    margin-top: 10px;
}
/* End of serives */
.footer{
    height: 100vh;
    background: #000;
    color: #fff;
    padding: 30px;
}
.footer .bio p{
    margin-top: 10px;    
}
.footer .social{
    padding-top: 30px;
    
}
.footer .social h4{
    margin-bottom: 20px;
}
.footer .social a{
    text-decoration: none;
}
.fa-whatsapp{
   color: #25d366;
   font-size: 20px;
}
.fa-facebook{
    color: #1877f2;
    font-size: 20px;
    margin-left: 20px;
}
.fa-instagram{
    color:#8a3ab9;
    font-size: 20px;
    margin-left: 20px;
}
.fa-twitter{
    color: #1DA1F2;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
}
.fa-youtube{
    color: #FF0000;
    font-size: 20px;
    margin-left: 20px;
}
.rights {
    padding-top: 30px;
}
.rights p{
    margin-top: 10px;
}







/* Rosponsive code (media device sizes) */
@media screen and (max-width: 600px) {
    nav{
        display: none;
    }
    .topnav{
        display: block;
    }
    .section2{
        flex-direction: column;
    }
    .col1, .col2{
        width: 100%;
        margin-bottom: 10px;
    }
    #services{
        flex-direction: column;
    }
    #services .card{
        width: 100%;
        height: 300px;
        padding: 0 20px;
    }

}